@page "/new"
@using BookmarkRepository.Data
@using BookmarkRepository.Models
@inject BookmarkContext ApplicationDbContext
@inject NavigationManager NavigationManager

<PageTitle>New Bookmark</PageTitle>

<h1>New Bookmark</h1>

<EditForm Model="@newBookmark" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="name">Name</label>
        <InputText id="name" class="form-control" @bind-Value="newBookmark.Name" />
        <ValidationMessage For="@(() => newBookmark.Name)" />
    </div>
    <div class="form-group mb-4">
        <label for="url">URL</label>
        <InputText id="url" class="form-control" @bind-Value="newBookmark.Url" />
        <ValidationMessage For="@(() => newBookmark.Url)" />
    </div>
    <button type="submit" class="btn btn-primary">Add Bookmark</button>
</EditForm>

@code {
    private Bookmark newBookmark = new Bookmark();
    private BookmarkService BookmarkService;

    protected override async Task OnInitializedAsync()
    {
        BookmarkService = new BookmarkService(ApplicationDbContext);
    }

    private async Task HandleValidSubmit()
    {
        await BookmarkService.CreateBookmarkAsync(newBookmark);
        newBookmark = new Bookmark();
        NavigationManager.NavigateTo("/bookmarks");

    }
}
